/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(110, 66, 193, 0.05);
  background-image: linear-gradient(
      to bottom,
      rgba(110, 66, 193, 0.05),
      rgba(110, 66, 193, 0.35)
    ),
    url("./app/images/city.jpg");

  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 80%;
  background-attachment: fixed;

  /* height: 100vh; */
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
